-f https://eggrepo.eea.europa.eu/simple/
freshwater.content==5.0
eea.coremetadata==5.5
eea.api.glossary==1.6
eea.api.dataconnector==12.6
eea.plotly==2.3
eea.api.visualizationutils==1.4
mo-future==7.584.24095
mo-imports==7.584.24095
mo-parsing==8.650.24172
mo-sql-parsing==10.651.24172
# yafowil 3.1.2 requires node<2.0.0,>=1.2,
#but you have node 2.0.0 which is incompatible.
node==1.2.3
node.ext.zodb==1.6
