[buildout]
extends = buildout.cfg

[configuration]
eggs +=
  # PloneSaaS
  beautifulsoup4
  collective.js.jqueryui
  collective.monkeypatcher
  collective.taxonomy
  collective.volto.dropdownmenu
  eea.api.layout
  eea.api.taxonomy
  eea.dexterity.sparql
  eea.dexterity.rdfmarshaller
  eea.dexterity.themes
  eea.geolocation
  eea.progress.workflow
  eea.progress.editing
  eea.api.dataconnector
  eea.restapi
  eea.schema.slate
  eea.stringinterp
  eea.volto.policy
  eea.zotero
  plone.app.imagecropping
  sparql-client
  webcouturier.dropdownmenu
  wildcard.fixpersistentutilities
  # Freshwater
  plone.app.robotframework
  collective.MockMailHost
  plone.tiles
  plone.reload
  freshwater.content
  collective.bookmarks

zcml +=
  #PloneSaaS
  ${buildout:zcml}
  collective.monkeypatcher
  collective.taxonomy
  collective.volto.dropdownmenu
  eea.api.layout
  eea.api.taxonomy
  eea.dexterity.sparql
  eea.dexterity.rdfmarshaller
  eea.dexterity.themes
  eea.geolocation
  eea.progress.workflow
  eea.progress.editing
  eea.api.dataconnector
  eea.restapi
  eea.schema.slate
  eea.stringinterp
  eea.volto.policy
  eea.zotero
  # Freshwater
  plone.reload

[sources]
# DEVELOP sources
#
sparql-client = git https://github.com/eea/sparql-client.git pushurl=git@github.com:eea/sparql-client.git branch=develop
eea.dexterity.sparql = git https://github.com/eea/eea.dexterity.sparql.git pushurl=git@github.com:eea/eea.dexterity.sparql.git branch=develop
eea.dexterity.rdfmarshaller = git https://github.com/eea/eea.dexterity.rdfmarshaller.git pushurl=git@github.com:eea/eea.dexterity.rdfmarshaller.git branch=develop
eea.dexterity.themes = git https://github.com/eea/eea.dexterity.themes.git pushurl=git@github.com:eea/eea.dexterity.themes.git branch=develop
eea.geolocation = git https://github.com/eea/eea.geolocation.git pushurl=git@github.com:eea/eea.geolocation.git branch=develop
eea.progress.workflow = git https://github.com/eea/eea.progress.workflow.git pushurl=git@github.com:eea/eea.progress.workflow.git branch=develop
eea.progress.editing = git https://github.com/eea/eea.progress.editing.git pushurl=git@github.com:eea/eea.progress.editing.git branch=develop
eea.stringinterp = git https://github.com/eea/eea.stringinterp.git pushurl=git@github.com:eea/eea.stringinterp.git branch=develop
eea.volto.policy = git https://github.com/eea/eea.volto.policy.git pushurl=git@github.com:eea/eea.volto.policy.git branch=develop
eea.volto.slate = git https://github.com/eea/eea.volto.slate.git pushurl=git@github.com:eea/eea.volto.slate.git branch=develop
eea.zotero = git https://github.com/eea/eea.zotero.git pushurl=git@github.com:eea/eea.zotero.git branch=develop
SuRF = git https://github.com/eea/SuRF.git pushurl=git@github.com:eea/SuRF.git branch=python3
#
#
# REST API
#
###eea.restapi = git https://github.com/eea/eea.restapi.git pushurl=git@github.com:eea/eea.restapi.git branch=develop
eea.schema.slate = git https://github.com/eea/eea.schema.slate.git pushurl=git@github.com:eea/eea.schema.slate.git branch=develop
#
# BISE
#
eea.api.dataconnector = git https://github.com/eea/eea.api.dataconnector.git pushurl=git@github.com:eea/eea.api.dataconnector.git branch=develop
#
# EPRTR
#
eea.api.layout = git https://github.com/eea/eea.api.layout.git pushurl=git@github.com:eea/eea.api.layout.git branch=develop
eea.api.taxonomy = git https://github.com/eea/eea.api.taxonomy.git pushurl=git@github.com:eea/eea.api.taxonomy.git branch=develop
#
# Freshwater
#
plone.restapi = git https://github.com/plone/plone.restapi.git pushurl=git@github.com:plone/plone.restapi.git branch=slots
collective.taxonomy = git https://github.com/eea/collective.taxonomy.git pushurl=git@github.com:eea/collective.taxonomy.git branch=restapi
eea.restapi = git https://github.com/eea/eea.restapi.api pushurl=git@github.com:eea/eea.restapi.git branch=fix_dataquery_volto13
freshwater.content = git https://github.com/eea/freshwater.content.git pushurl=git@github.com:eea/freshwater.content.git branch=develop